html{
  box-sizing: border-box; /* https://css-tricks.com/box-sizing/ */
  background:#eee;
  background: url("../img/flagF4D.png") center no-repeat;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
  max-width: 30em;
  margin: 1em auto;
  padding: 1em;
  background: #fff;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 0.5em rgba(68,68,68,0.6);
}
